body {
    margin: 0;
    padding: 0;
}

#hero-img {
    position: relative;
}

img {
    width: 100%;
    height: 100vh;
    filter: brightness(90%);
    margin: 0;
    box-shadow: 19px 20px 81px 9px rgba(0,0,0,0.75);
}

#nav-bar-container {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 60px;
    background-color:black;
    opacity: 0.8;
}

#nav-bar {
    position: absolute;
    margin: auto;
    top: 25%;
    left: 35%;
    bottom: 0;
    right: 0;
}

a {
    margin-top: 50px;
    padding: 20px;
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
a:hover {
    border-bottom: 3px solid coral;
    padding-bottom: 5px;
}


#hobby-header-container {
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

#hobby1-card-container, #hobby2-card-container, #hobby3-card-container {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    background-color: rgb(109, 117, 101);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 500px;
    box-shadow: 19px 29px 81px 29px rgba(0,0,0,0.75);
}

#hobby1-card-container {
    background-image: url("images/woodworking.png");
}

#hobby2-card-container {
    background-image: url("images/outdoors.png");
}

#hobby3-card-container {
    background-image: url("images/golf.png");
}

#hobby-1-title, #hobby-3-title {
    color: white;
    font-size: 80px;
    margin-left: 10%;
    text-transform: uppercase;
}

#hobby-2-title {
    color: rgb(30, 37, 46);
    margin-left: 60%;
    font-size: 80px;
    text-transform: uppercase;
}

#hobby-card-1, #hobby-card-2, #hobby-card-3 {
    background-color: antiquewhite;
    position: absolute;
    top: 25px;
    margin-left: 70%;
    width: 21%;
    height: 450px;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: -35px 15px 70px black;
}

#hobby-card-2 {
    margin-left: 7%;
}

#hobby-card-1:hover, #hobby-card-2:hover, #hobby-card-3:hover{
    transform: scale(1.10);
}

#card-header {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    border-bottom: 3px solid black;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

#wood-quote, #golf-quote {
    margin-top: 50px;
    font-size: 25px;
    width: 400px;
    color: white;
    margin-left: 35%;
    font-style: italic;
    text-align: center;
}

#outdoor-quote {
    margin-top: 30px;
    font-size: 25px;
    width: 400px;
    color: black;
    margin-left: 55%;
    font-style: italic;
    text-align: center;
}

#card-words {
    padding: 25px;
    font-size: 20px;
    text-align: center;
}

#interests-header-container {
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

#interest-container {
    text-align: center;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px;
    background-image: url("images/outdoors.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

#interest-1, #interest-2, #interest-3 {
    width: 80%;
    border-radius: 3px;
    float: left;
    margin-left: 60px;
    margin-top: 25px;
    margin-bottom: 10px;
    background-color: antiquewhite;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(navy,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

#interest-1:hover, #interest-2:hover, #interest-3:hover {
    transform: scale(1.10);
}


#interest-1 img, #interest-2 img, #interest-3 img {
    width: 60%;
    height: 30%;
    border-radius: 20px;
    object-fit: cover;
    filter: brightness(80%);
       
}

#interest-1 h2, #interest-2 h2, #interest-3 h2{
    padding-bottom: 50px;
    font-size: 40px;
    border-bottom: 3px solid rgb(54, 54, 82);
}

#interest-1 p, #interest-2 p, #interest-3 p {
    text-align: center;
    font-style: italic;
    font-size: 17px;
    margin-top: 15%;
    padding: 20px;
}


